@font-face {
    font-family: 'Arcade Classic';
    src: url('/fonts/ARCADECLASSIC.TTF');
}
html {
    align-items: center;
    font-family: 'Arcade Classic';
    background-color: darkgray;
}
body {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
}

p {
    margin: 0;
    font-size: 28px;
    text-align: center;
}

button {
    margin: 5%;
    width: 90%;
    font-size: 50px;
    font-family: 'Arcade Classic';
    text-align: center;
    background-color: black;
    color: darkgray;
    border: 5px solid gray;
}

.box-background {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: darkgray;
}
.box {
    position: absolute;
    width: 350px;
    height: 350px;
    z-index: 1002;
    overflow: auto;
    background-color: black;
    color: darkgray;
    border: 5px solid gray;
}
.box>p {
    margin: 0;
    width: 100%;
    font-size: 70px;
    text-align: center;
}
.box>div>p {
    margin: 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
}