@font-face {
    font-family: 'Arcade Classic';
    src: url('/font/ARCADECLASSIC.TTF');
}
html {
    align-items: center;
    font-family: 'Arcade Classic';
    background-color: darkgray;
}
body {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0;
    font-size: 28px;
    text-align: center;
}

table {
    margin: 0;
    width: 100%;
    border-collapse: collapse;
    color: darkgray;
    font-size: 20px;
    text-align: center;
}

th, td {
    border: 2px solid darkgray
}

.box {
    margin: 0px;
    position: absolute;
    width: 350px;
    height: 400px;
    z-index: 1002;
    overflow: auto;
    background-color: black;
    color: darkgray;
    border: 5px solid gray;
}

.box-background {
    margin: 0px;
    padding: 0px;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: darkgray;
}

.box>p {
    margin: 0;
    width: 100%;
    font-size: 70px;
    text-align: center;
}
.box>div>p {
    margin: 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

button, input {
    margin: 0px 10px 5px 10px;
    width: 330px;
    font-size: 50px;
    font-family: 'Arcade Classic';
    text-align: center;
    background-color: black;
    color: darkgray;
    border: 5px solid gray;
}

